
    .footer{
        margin-top: 10rem;
        grid-area: f;
        footer{

       
        margin: 0 0 5rem 0;  
        ul{
         display: flex;
         list-style-type: none;
         width: 90%;
         justify-content: space-between;
         color:#003569;
         font-size: 1.4rem;
        }
        font-size: 1.3rem;
    }
    }
   