 
    .fotos{
        border-top: .2rem solid $primary-color;
        grid-area: m;
        &__header{
         display: flex;
         margin-top:1rem;
         justify-content: center;
         font-size: 1.4rem;
         .item-1{
             margin-right: 4rem;
         }
        }

        .grid{
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3,32%);
            grid-auto-rows: min-content;            
            grid-gap:2rem;
            
            .grid-item{
             img{
                width: 100%;
                height: 30rem;
             }
            }

      }

      .loading{
          height: 15rem;
          display: flex;
          justify-content: center;
      }
    }
   